.vscode/**
typings/**
out/test/**
test/**
src/**
images/**
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md
.gitattributes
.travis.yml
appveyor.yml
CONTRIBUTING.md
package-lock.json
tslint.json
out/**
webpack.config.js
node_modules/**
scripts/**
