<!DOCTYPE html>
<html>

<head>
    <!-- The loading sequence is critical, and should not be changed,
        otherwise webview may show in blank because some variable cannot get the initial data
        (e.g. axios.js is missing so that we can't do POST in main.js ) -->
    <link rel="stylesheet" href="{{root}}/resources/simulator/main.css">
    <link rel="stylesheet" href="{{root}}/resources/simulator/iview.css">
    <script type="text/javascript" src="{{root}}/resources/simulator/scripts/vendor.js"></script>
    <!-- v-cloak will remain on the element until the associated Vue instance finishes compilation.
        Combined with CSS rules, this directive can be used to hide un-compiled mustache bindings until the Vue instance is ready.  -->
    <style type="text/css">
        [v-cloak] {
            display: none !important;
        }
    </style>
</head>

<body>
    <div id="app" data-endpoint="{{endpoint}}" v-cloak>
        <Row>
            <i-col span="24" style="max-width: 800px; min-width: 400px;">
                <Card :dis-hover="true" :bordered="false">
                    <Row>
                        <i-col span="24">
                            <p>
                                {{ introduction }}
                            </p>
                            <p style="margin-top: 20px">
                                You are sending message(s) to <b>{{ hostName }}</b>
                            </p>
                            <br />
                        </i-col>
                    </Row>
                    <i-form ref="formItem" :model="formItem" :rules="ruleValidation">
                        <form-item prop="deviceConnectionStrings" label="Device(s) to send messages from">
                            <Row>
                                <i-col span="24">
                                    <i-select v-model="formItem.deviceConnectionStrings" multiple filterable
                                        remote :remote-method="deviceSelectFilter"
                                        @on-open-change="resetFilter"
                                        placeholder="Please select the device(s) you want to send message from..."
                                        not-found-text="No Device Found" @on-change="persistInputs">
                                        <i-option v-for="item in filteredInputDeviceList" :value="item.connectionString"
                                            :key="item.connectionString">
                                            {{item.label}}
                                        </i-option>
                                    </i-select>
                                </i-col>
                            </Row>
                        </form-item>
                        <Row :gutter="10">
                            <i-col span="7" style="width: 200px">
                                <form-item prop="numbers" label="Message(s) per device" style="text-align: left">
                                    <i-input v-model="formItem.numbers" placeholder=""
                                        @on-change="persistInputs">
										</i-input>
                                </form-item>
                            </i-col>
                            <i-col span="10" style="width: 200px">
                                <form-item prop="interval" label="Interval between two messages" style="text-align: left; width: 200px">
                                    <i-input v-model="formItem.interval" placeholder=""
                                        @on-change="persistInputs" style="padding-top: 1px">
                                        <!-- padding-top=1px: because the ivu-input with append or prepend slot will have -1 px in padding -->
                                        <i-select v-model="intervalUnit" slot="append" style="width: 120px" @on-change="persistInputs">
                                            <i-option value="millisecond">millisecond(s)</i-option>
                                            <i-option value="second">second(s)</i-option>
                                            <i-option value="minute">minute(s)</i-option>
                                        </i-select>
                                    </i-input>
                                </form-item>
                            </i-col>
                        </Row>
                        <form-item prop="message" label="Message">
                            <Row>
                                <i-col span="24">
                                    <radio-group v-model="messageBodyType" @on-change="messageBodyTypeChange">
                                        <Radio label="Plain Text">Plain Text</Radio>
                                        <Radio label="Dummy Json">Data Template
                                            <Tooltip theme="light" transfer max-width="500" placement="top-start">
                                                <!-- Set transfer=true, to append the layer in body.
                                          When used in Tabs or a fixed Table column, by adding this property,
                                          Tooltip will not be affected by the parent style, resulting in better results. -->
                                                <Icon type="md-information-circle" size="18"></Icon>
                                                <!-- In the content slot, content should begin from the left,
                                          otherwise unexpected space will be regarded as part of content -->
                                                <div slot="content">
<p>Using Dummy JSON to generate random data.
<a href="https://github.com/webroo/dummy-json">Click here to see advanced usage. <Icon type="md-open"></Icon></a>
</p>
                                                </div>
                                            </Tooltip>
                                        </Radio>
                                    </radio-group>
                                </i-col>
                            </Row>
                            <Row>
                                <i-col span="24">
                                    <Tabs v-model="messageInputAreaTab" @on-click="textAreaOnChange" :animated="false">
                                        <tab-pane label="Edit" name="Write">
                                            <i-input v-if="messageBodyType=='Plain Text'" v-model="textArea.plainTextArea"
                                                style="width: 100%" @on-change="textAreaOnChange"
                                                placeholder="Enter the message content here..." type="textarea"
                                                :autosize="{minRows: 10}">
                                            </i-input>
                                            <i-input v-if="messageBodyType=='Dummy Json'" v-model="textArea.dummyJsonArea"
                                                style="width: 100%" @on-change="textAreaOnChange"
                                                placeholder="Enter the dummy-json template here..." type="textarea"
                                                :autosize="{minRows: 10}">
                                            </i-input>
                                        </tab-pane>
                                        <tab-pane v-if="messageBodyType=='Dummy Json'" label="Preview" name="Preview">
                                            <i-input style="width: 100%" v-model="textArea.generatedMessage" disabled readonly
                                                type="textarea" :autosize="{minRows: 10}">
                                            </i-input>
                                        </tab-pane>
                                    </Tabs>
                                </i-col>
                            </Row>
                        </form-item>
                        <form-item>
                            <i-button :disabled="status.isProcessing" type="primary" @click="send()">
                                Send
                            </i-button>
                        </form-item>
                    </i-form>
                </Card>
            </i-col>
        </Row>
        <Modal v-model="status.isProcessing" scrollable width="380" :mask-closable="false" :closable="false">
            <p slot="header" style="text-align: left;">
                <Icon type="ios-information-circle" size="18" ></Icon>
                <span>Sending D2C messages...</span>
            </p>
            <div style="text-align: left; margin-left: 24px;">
                <p>
					<b>{{status.numberOfSuccessfulMessage}}</b> message(s) are successfully sent;
					<br/>
					<b>{{status.numberOfFailedMessage}}</b> message(s) are failed.
				</p>
                <i-progress status="active"
                    :percent="Math.round((this.status.numberOfSuccessfulMessage + this.status.numberOfFailedMessage) / this.status.numberOfTotalMessage * 100)">
                </i-progress>
            </div>
            <div slot="footer">
                <div style="width: 80px;">
				    <i-button type="primary" :disabled="cancelRequested" @click="progressCancel" style="width: 80px;">{{cancelRequested ? 'Canceling' : 'Cancel'}}</i-button>
                </div>
            </div>
        </Modal>
    </div>
    <script type="text/javascript" src="{{root}}/resources/simulator/scripts/simulator.js"></script>
</body>

</html>