* {
    box-sizing: border-box;
    font-family: "Segoe UI";
}

.vscode-dark {
    background: #1E1E1E;
    color: #D4D4D4;
}
.vscode-light {
    background: #FFFFFF;
    color: #333333;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0
}

#app {
    display: table;
    width: 100%;
    height: 100%;
}

.vscode-dark .ivu-select-item:hover,
.vscode-dark .ivu-select-item-selected,
.vscode-dark .ivu-select-item-selected:hover,
.vscode-dark .ivu-tag,
.vscode-dark .ivu-select-multiple .ivu-select-item-focus,
.vscode-dark .ivu-select-multiple .ivu-select-item-selected,
.vscode-dark .ivu-select-multiple .ivu-select-item-selected:hover,
.vscode-dark .ivu-select-multiple .ivu-select-item-selected:after,
.vscode-dark .ivu-dropdown-item,
.vscode-dark .ivu-dropdown-item:hover,
.vscode-dark .ivu-dropdown-item:after {
	background: #062f4a;
}

.vscode-dark .ivu-select-item-focus,
.vscode-dark .ivu-radio-disabled .ivu-radio-inner {
	background: #3C3C3C;
}

.vscode-dark .ivu-input,
.vscode-dark .ivu-select-selection,
.vscode-dark .ivu-input-group-append,
.vscode-dark .ivu-input-group-prepend,
.vscode-dark .ivu-select-item,
.vscode-dark .ivu-select-dropdown,
.vscode-dark .ivu-dropdown-item,
.vscode-dark .ivu-select {
	background-color: #3C3C3C;
}

.vscode-dark .ivu-card {
    background-color: #1E1E1E;
}

.vscode-dark .ivu-input,
.vscode-dark .ivu-select-selection,
.vscode-dark .ivu-input-group-append,
.vscode-dark .ivu-input-group-prepend,
.vscode-dark .ivu-card-bordered,
.vscode-dark .ivu-card:hover {
	border-color: #1E1E1E;
}

.vscode-dark .ivu-input-group-append,
.vscode-dark .ivu-input-group-prepend
.vscode-dark .ivu-tag-text,
.vscode-dark .ivu-select,
.vscode-dark .ivu-select-item,
.vscode-dark .ivu-form .ivu-form-item-label,
.vscode-dark .ivu-card,
.vscode-dark .ivu-dropdown-item,
.vscode-dark .ivu-input {
    color: #D4D4D4;
}
